<% layout('layout/boilerplate') %>

  <h1>All Campgrounds</h1>
  <div>
    <a href="/campgrounds/new">Add New Campground</a>
  </div>

  <% for (let camp of camps) { %>
    <div class="card mb-3">
      <div class="row">
        <div class="col-md-4">
          <% if(camp.images.length > 0){  %>
          <img class="img-fluid" src="<%=camps.indexOf(camp) % 2===0 ? camp.images[0].url: camp.images[1].url %>"
            alt="">
            <% }else{ %> 
              <img class="img-fluid" src="https://res.cloudinary.com/dqas0e9l7/image/upload/v1617917654/YelpCamp/tijjwxmxohttz8o28ye3.jpg"
              alt="">
          <% } %> 
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              <%= camp.title %>
            </h5>
            <p class="card-text">
              <%= camp.description %>
            </p>
            <p class="text-muted">
              <%= camp.location %>
            </p>
            <a class="btn btn-primary" href="/campgrounds/<%= camp._id %> ">View <%= camp.title%></a>
          </div>
        </div>
      </div>
    </div>
    <% } %>