<% layout('layout/boilerplate') %>

  <h1>Camp Name: <%= camp.title %>
  </h1>

  <h2>
    Location: <%= camp.location %>
  </h2>

  <img src="<%= camp.image %>" alt="">
  <p>
    <%= camp.description %>
  </p>
  <form action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
    <button>Remove Campsite!!</button>
  </form>

  <a href="/campgrounds/<%= camp._id %>/edit">Edit Campground</a>
  <br>
  <a href="/campgrounds">Return to Campgrounds List</a>