<%- include('../layout/head') %>

  <h1>Camp details: </h1>

  <h2>
    Camp Name: <%= camp.title %>

  </h2>
  <h3>
    Location: <%= camp.location %>
  </h3>

  <h3>
    Locations ID: <%= camp._id %>
  </h3>
  <form action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
    <button>Remove Campsite!!</button>
  </form>

  <a href="/campgrounds/<%= camp._id %>/edit">Edit Campground</a>
  <br>
  <a href="/campgrounds">Return to Campgrounds List</a>

  <%- include('../layout/footer') %>